.App {
  text-align: center;
  background-color: #FFD4DC;
  overflow-x: hidden;
}

.App-logo {
  height: 2.5vh;
  pointer-events: none;
  color: red;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .App-logo {
    height: 2vh;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: scale(25);
  }

  to {
    transform: scale(30);
  }
}

.hide {
  display: none !important;
}